html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 首页
        include styles/index.pug
        include script/index.pug
    body
        .container
            .row
                .col-md-4 new
                .col-md-8 lalala